[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-migrate = "*"
passlib = "*"
sqlalchemy-utils = "*"
flask-smorest = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"
flask-pundit = {editable = true, git = "https://github.com/sergioisidoro/flask-pundit"}
pytest-cov = "*"
freezegun = "*"
flask-admin = "*"
authlib = "*"
requests = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
python-dotenv = "*"
flake8 = "*"
pytest-flask = "*"
pytest-runner = "*"
pytest-factoryboy = "*"
pytest-celery = "*"
factory-boy = "*"
pytest-cov = "*"
freezegun = "*"

[requires]
python_version = "3.9"
